registration/HELP.md
registration/target/
registration/.mvn/wrapper/maven-wrapper.jar
!registration/**/src/main/**/target/
!registration/**/src/test/**/target/
registration/.apt_generated
registration/.classpath
registration/.factorypath
registration/.project
registration/.settings
registration/.springBeans
registration/.sts4-cache
registration/.idea
registration/*.iws
registration/*.iml
registration/*.ipr
registration/nbproject/private/
registration/nbbuild/
registration/dist/
registration/nbdist/
registration/.nb-gradle/
registration/build/
!registration/**/src/main/**/build/
!registration/**/src/test/**/build/
registration/.vscode/
registration/.env
.env
